
@{
    ViewData["Title"] = "SimpleNotesPage";
}

<div class="SimpleNotesMainPage">
    <div class="NotesPageTopBar">
        <div class="user-info">
            <span class="username">@User.Identity.Name</span>
            <a asp-controller="Account" asp-action="Logout" class="logout-button">Logout</a>
        </div>
    </div>
    <div class="topbuttons">
        <button id="create" type="button" class="ClearNotes">Clear Notes</button>
        <button id="save" type="button" class="SaveNotes">Save Notes</button>
        <button id="saved" type="button">Your Notes</button>
        @* <input id="search" type="search" placeholder="Search Notes..."> *@
    </div>

    <div class="content">
        <div class="textarea">
            <textarea id="title" class="TitleOfTheNotes" placeholder="Enter title here..."></textarea>
            <textarea id="description" class="DescriptionOfTheNotes" placeholder="Enter description here..."></textarea>
        </div>
    </div>>

    <div class="saved-notes">
</div>